@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<a href="https://blazorapp001-staging.azurewebsites.net/?x-ms-routing-name=staging">Go back to staging app</a>