@page "/"

<h1>Azure WebApp Deployments</h1>

Welcome to the staging environment of our App.

<SurveyPrompt Title="How is Blazor working for you?" />
<a href="https://blazorapp001.azurewebsites.net/?x-ms-routing-name=self">Go back to production app</a>